<form action="{% url 'comments:postcomment' article.pk %}" method="post">
    {% csrf_token %}
    <div class="w-full flex gap-x-2 justify-start items-center">
        <textarea name="body" role="textbox" rows="1" id="comment-input"
               class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
               placeholder="评论"></textarea>
        <input type="hidden" name="parent_comment_id" id="id_parent_comment_id">
        <button type="submit"
                class=" flex-shrink-0 flex-grow py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
            评论
        </button>
    </div>
    {{ form.body.errors }}
</form>