{% load compress %}
{% load static %}
{% load blog_tags %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN" dir="ltr"
      prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>

    <!-- title -->
    {% block title %}

    {% endblock %}
    <!-- end title -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
          rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ SITE_NAME }} &raquo; Feed"
          href="{% url 'blog:feed' %}"/>
    <!-- 该网页规范版本 -->
    <link rel="canonical" href="{{ request.build_absolute_uri }}">

    <meta name="description" content="{{ article.body|custom_markdown|striptags|truncatewords:10 }}"/>
    {% if article.tags %}
        <meta name="keywords" content="{{ article.tags.all|join:"," }}"/>
    {% else %}
        <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    {% endif %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.body|custom_markdown|striptags|truncatewords:10 }}"/>
    <meta property="og:locale" content="zh-CN"/>
    <meta property="og:url" content="{{ article.get_full_url }}"/>
    {% if article.cover %}
        <meta property="og:image" content="{{ SITE_BASE_URL|strip_str:'/' }}{{ article.cover.url }}"/>
    {% else %}
        <meta property="og:image" content="{{ SITE_BASE_URL }}static/base/image/logo-img.png"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
    <meta property="twitter:title" content="{{ article.title }}"/>
    <meta property="twitter:description" content="{{ article.body|custom_markdown|striptags|truncatewords:10 }}"/>
    <meta property="twitter:site" content="{{ SITE_NAME }}"/>
    {% if article.cover %}
        <meta property="twitter:image" content="{{ SITE_BASE_URL|strip_str:'/' }}{{ article.cover.url }}"/>
    {% else %}
        <meta property="twitter:image" content="{{ SITE_BASE_URL }}static/base/image/logo-img.png"/>
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="article:created_time" content="{% dateformat article.created_time %}">
    <meta property="article:modified_time" content="{% dateformat article.last_mod_time %}">
    <meta property="article:author" content="{{ article.author.get_full_url }}">
    <meta property="article:section" content="{{ article.category.name }}">
    {% for tag in article.tags.all %}
        <meta property="article:tag" content="{{ tag.name }}">
    {% endfor %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js"></script>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'blog/css/markdown.css' %}">
    {% endcompress %}
    <title>{{ article.title }}|{{ SITE_DESCRIPTION }}</title>
</head>
<body>
    {{ article.body|custom_markdown|escape }}
</body>
</html>